#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  position: relative;
  padding-top: 60px; /* Adjust as needed */
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background-image: url("/src/images/tapisdefond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity value to make the background image less pronounced */
  z-index: -1;
}

.container.video-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/tapisdefond.jpg"); /* Initial background image */
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 1s ease-in-out; /* Add transition for background-position */
  z-index: -1;
}

.container.background-slide-up::before {
  background-image: url("/src/images/win.webp"); /* New background image */
  background-position: center 100%; /* Move the new image to the bottom initially */
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.header {
  margin-bottom: 20px; /* Ajoute de l'espace en bas du header */
  position: relative; /* Ensure the header stays above the background */
  z-index: 1; 
  margin-top: 100px;
  animation: bounce-bottom 0.8s ease-in-out; /* Apply bounce animation */
}

@keyframes bounce-bottom {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  40% {
    transform: translateY(10px); /* Bounce down */
  }
  60% {
    transform: translateY(5px); /* Bounce up */
  }
}

.read-the-docs {
  color: #888;
}

.game-info {
  font-family: fantasy;
}

.font {
  font-family: fantasy;
}

.info-container {
  display: flex;
  justify-content:center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 60px;
  animation: wobble 1s ; /* Apply wobble animation */
}

@keyframes wobble {
  0% {
    transform: translateX(0); /* Start position */
  }
  15% {
    transform: translateX(-1%) rotate(-1deg); /* Wobble left */
  }
  30% {
    transform: translateX(1%) rotate(1deg); /* Wobble right */
  }
  45% {
    transform: translateX(-1%) rotate(-1deg); /* Wobble left */
  }
  60% {
    transform: translateX(1%) rotate(1deg); /* Wobble right */
  }
  75% {
    transform: translateX(-1%) rotate(-1deg); /* Wobble left */
  }
  100% {
    transform: translateX(0); /* End position */
  }
}

.victory-message {
  animation: bounce 0.5s ease forwards;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.victory-message {
  font-size: 24px;
  color: #ffee00; 
}

.defeat-message {
  font-size: 24px;
  color: red; /* Change the color to red or any other color you prefer */
  /* Add any additional styling you want for the defeat message */
}

/* Animation for the defeat message */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.defeat-message {
  animation: fade-in 0.5s ease-in-out; /* Apply the fade-in animation */
}

