#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  position: relative;
  padding-top: 60px; /* Adjust as needed */
  
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background-image: url("/src/images/tapisdefond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity value to make the background image less pronounced */
  z-index: -1;
}


.header {
  margin-bottom: 20px; /* Ajoute de l'espace en bas du header */
  position: relative; /* Ensure the header stays above the background */
  z-index: 1; 
  margin-top: 100px;
  }


.read-the-docs {
  color: #888;
}

.game-info {
  font-family: fantasy;
}

.font {
  font-family: fantasy;
}

.info-container {
  display: flex;
  justify-content:center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 60px;
}

.victory-message {
  animation: bounce 0.5s ease forwards;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.victory-message {
  font-size: 24px;
  color: #ffee00; 
}

.defeat-message {
  font-size: 24px;
  color: red; /* Change the color to red or any other color you prefer */
  /* Add any additional styling you want for the defeat message */
}

/* Animation for the defeat message */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.defeat-message {
  animation: fade-in 0.5s ease-in-out; /* Apply the fade-in animation */
}
